@media screen and (min-width:60rem) {
    .Form-membership-section {
        grid-template-columns: 1fr 1fr;
    }
    .thankyou-card {
        padding: 1.5rem;
    }

    .submission-summary {
        padding: 1.25rem;
    }
}