@media screen and (min-width: 35.05rem) {

  .grid-places .discoverCard {
    grid-template-areas:
      "header      image"
      "address     image"
      "description image"
      "button      image";
  }

  .grid-places .discoverCard figure {
    width: 300px;
  }

  .discoverCard img:hover {
    transform: scale(1.08);
  }
}
