:root {
  --primary-color: #000000;
  --secondary-color: #333;
  --tertiary-color: #bb8303;
  --quaternary-color: #999;
  --quinary-color: #ccc;
  --senary-color: #eee;
  --septenary-color: #292104;
  --octonary-color: #fff;
  --nonary-color: #f00;
  --denary-color: #0f0;
  --undenary-color: #00f;
  --duodenary-color: #ff0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

header h1 {
  color: var(--tertiary-color);
  text-align: center;
  background-color: var(--octonary-color);
  padding: 10px 0 0 0;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}

.prophet-card h2 {
  color: var(--secondary-color);
  text-align: center;
  background-color: var(--septenary-color);
  color: var(--octonary-color);
  padding: 10px 0 0 0;
  margin-bottom: 20px;
  border-radius: 15px 15px 0 0;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  padding: 20px;
}

.prophet-card  img {
    width: 100%;
    object-fit: cover;
}

.prophet-card p {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 2px 0 2px 0;
    border-radius: 0 0 15px 15px;
}

.birth-date {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}
