@media screen and (min-width: 40rem) {
    .hamburger-menu {
        display: none;
    }
    .navigation-bar {
        display: flex;
        position: static;
        transform: none;
        height: auto;
        width: auto;
        box-shadow: none;
        padding: 0;
        flex-direction: row;
        display: flex;
        border-bottom: none;
        width: auto;
        height: auto;
        background-color: transparent;
    }
    .close-btn {
        display: none;
    }
    .nav-link {
        flex-direction: row;
        gap: 1.5rem;
    }
    .nav-link a {
        font-weight: 600;
        padding: 0.2rem 0.75rem;
        border-radius: 6px;
        font-size: 1rem;
        border-left:none;
    }
    .shopingcart {
        border: none;
        background: none;
        padding: auto;
        width: auto;
        padding: 0;
    }
    .nav-overlay {
        display: none;
    }
    .hero-container {
        grid-template-columns: minmax(150px, 500px) 1fr;
        width: 100%;
        max-height: 60vh;
    }
    .shopingcart p {
        display: none;
    }
    .about-img-wrapper {
        float: right;
        width: 40%;
        margin-left: 2rem;
    }
    .about-picture {
        height: 300px;
    }

    .footer-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .footer {
        text-align: center;
    }
    .social-links {
        justify-content: center;
    }
    .contact-item {
        justify-content: center;
    }

}